{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section>
        <img src="{{ asset('images/logo.webp') }}" alt="Bogue">
        {{ include('security/_form.html.twig', {form: loginForm}) }}
    </section>
{% endblock %}
