{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="login-box">
            <form method="post">
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="custom-input" autocomplete="email" placeholder="Email" required autofocus>
                <input type="password" name="_password" id="password" class="custom-input" autocomplete="current-password" placeholder="Mot de passe" required>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                {% if error %}
                    <div class="error-msg">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <button class="custom-btn" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
    </div>
{% endblock %}
