{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section>
        <h2>Connexion</h2>

        {% if error %}
            <p><strong>Erreur</strong> - {{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}

        <form method="post">
            <fieldset>
                <legend>Identifiants</legend>
                <p>
                    <label for="username">Email</label><br>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
                </p>
                <p>
                    <label for="password">Mot de passe</label><br>
                    <input type="password" name="_password" id="password" autocomplete="current-password" required>
                </p>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                <button type="submit">Se connecter</button>
            </fieldset>
        </form>
    </section>
{% endblock %}
