{% extends 'base.html.twig' %}

{% block title %}Modifier étudiant{% endblock %}

{% block body %}
    <section>
        <h2>Modifier l'étudiant</h2>
    </section>

    <section>
        {{ include('student/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
    </section>

    <section>
        <a href="{{ path('app_student_index') }}">Retour a la liste</a>
    </section>
{% endblock %}
