{% extends 'base.html.twig' %}

{% block title %}Nouvel étudiant{% endblock %}

{% block body %}
    <section>
        <h2>Ajouter un étudiant</h2>
    </section>

    <section>
        {{ include('student/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </section>

    <section>
        <a href="{{ path('app_student_index') }}">Retour a la liste</a>
    </section>
{% endblock %}
