{% extends 'base.html.twig' %}

{% block title %}Modifier stage{% endblock %}

{% block body %}
    <section>
        <h2>Modifier le stage</h2>
    </section>

    <section>
        {{ include('internship/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
    </section>
{% endblock %}
