{% extends 'base.html.twig' %}

{% block title %}Nouveau stage{% endblock %}

{% block body %}
    <section>
        <h2>Ajouter un stage</h2>
        <p>Definition du dossier stage et affectation des enseignants.</p>
    </section>

    <section>
        {{ include('internship/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </section>
{% endblock %}
