{% extends 'base.html.twig' %}

{% block title %}Nouveau stage{% endblock %}

{% block body %}
    <section>
        {{ include('internship/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </section>
{% endblock %}
