{% extends 'base.html.twig' %}

{% block title %}Edit Milestone{% endblock %}

{% block body %}
    <h1>Edit Milestone</h1>

    {{ include('milestone/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_home_index') }}">back to home</a>
{% endblock %}
