{% extends 'base.html.twig' %}

{% block title %}Modifier promotion{% endblock %}

{% block body %}
    <section>
        <h2>Modifier la promotion</h2>
    </section>

    <section>
        {{ include('promotion/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
    </section>
{% endblock %}
