{% extends 'base.html.twig' %}

{% block title %}Modifier entreprise{% endblock %}

{% block body %}
    <section>
        <h2>Modifier l'entreprise</h2>
    </section>

    <section>
        {{ include('company/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
    </section>

    <section>
        <a href="{{ path('app_company_index') }}">Retour a la liste</a>
    </section>
{% endblock %}
