{% extends 'base.html.twig' %}

{% block title %}Nouvelle entreprise{% endblock %}

{% block body %}
    <section>
        <h2>Ajouter une entreprise</h2>
        <p>Renseigner les informations principales de la structure d'accueil.</p>
    </section>

    <section>
        {{ include('company/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </section>

    <section>
        <a href="{{ path('app_company_index') }}">Retour a la liste</a>
    </section>
{% endblock %}
