{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <section>
        {{ include('user/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
    </section>
{% endblock %}
