{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <section>
        <h2>Ajouter un utilisateur</h2>
    </section>

    <section>
        {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </section>

    <section>
        <a href="{{ path('app_user_index') }}">Retour a la liste</a>
    </section>
{% endblock %}
